@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');
@import url('repos.css');
@font-face {font-family: 'Metana';  src: url(../fonts/NeueMetanaNext-SemiBold.otf); scroll-behavior: smooth;}

*{
    font-family:'Sora', 'sans-serif';
    color: var(--Magnolia);
    margin: 0;    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root{
    --Night: #141414;
    --Night-90: #1F1F1F;
    --Night-80: #434343;
    --Night-60: #727272;
    --Night-40: #A1A1A1;
    --Night-20: #D0D0D0;
    --Magnolia: #E6E6E6;
    --Lime: #C0FF00;
    --darkGradient: linear-gradient(to bottom right, var(--Night), var(--Night-90));
    --HTML:rgb(240, 100, 35);
    --CSS: rgb(35, 100, 240);
    --JavaScript: rgb(245, 220, 30);
    --Typescript: rgb(0, 120, 200);
    --Java: rgb(235, 45, 45);
    --React:rgb(0, 215, 255);
}

body{  
    background-color: var(--Night);
    cursor: url('../img/logo.svg');
}
main{
    max-width: 1200px;
    margin: auto; 
}
.repos__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer{
    width: 80%;
    margin: 2rem auto 0 auto;
    border-top: 1px solid var(--Lime);
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: .7rem;
    font-weight: 500;
    color: var(--Magnolia);
    padding: 1rem;
    
}  
#social-links{
    color: var(--Magnolia);
    width:150px;
    margin: .5rem .8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img{
    align-items: baseline;
    width: 1.5em;
    margin: auto;
}