.logo__header {
    width: 50px;
    margin: .5rem;
}
.nav, .nav__links{
    display: flex;
    align-items: center;
    list-style: none;
}
.mobile__btn{
    display: none;
}

.nav__item{
    width: 100px;
    text-align: center;
    padding: .25rem 1rem;
    margin: 1rem .37rem;
}

@media screen and (max-width: 700px) {
    header{
        max-width: 100%;
        padding: 1rem;
        font-weight: 700;
    }
    .mobile__btn{
        z-index: 100;
        background:transparent;
        border: none;
        display: flex;
        align-items: center;
        width: 70px;
        height: 70px;
    }
    .btn__open{
        position: relative;
        width: 80%;
        margin: 10px;
        opacity: 0;
        transform: scale(0) rotate(180deg);
        transition: 400ms;
    }
    .btn__close{
        position: relative;
        transform:translateX(-70px) rotate(0) scale(0);
        width: 80%;
        margin: 10px;
        visibility: hidden;
        transition: 400ms;
    }
    .nav__links{
        position: absolute;
        top: 0; right: 0;
        width: 100vw;
        height: 80vh;
        display: flex;
        visibility: hidden;
        flex-direction: column;
        justify-content: center;
        background: radial-gradient(circle at 50vw 50vh, rgba(192,255,0,.1) 0%, transparent 100%);
        backdrop-filter: blur(10px);
        clip-path: circle(0px at top right);
        transition: 400ms;
    }
    .btn__open.active{
        opacity: 100;
        transform: scale(1) rotate(0);
    }

    .btn__close.active{
        visibility:visible;
        transform:translateX(-70px) rotate(180deg) scale(1);
    }

    .nav__links.active {
        visibility: visible;
        clip-path: circle(100% at top right);
    }
}