@import url('index.css');

.repo__card{
    aspect-ratio: 3/4;
    width: 315px;
    padding: 2.2rem;
    margin: 1.2rem auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 8px;
    border: 1px solid rgba(200, 255, 00, 0);
    background: var(--darkGradient);
    box-shadow: 0px 155px 30px -10px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0.7);

    transition: 300ms;
}.repo__card:hover{
    border: 1px solid rgba(200, 255, 00, .5);
    box-shadow: 0 0 20px 0 rgba(200, 255, 0, 0.05);
    -webkit-box-shadow: 0 0 20px 0 rgba(200, 255, 0, 0.02);
}

.repo__tag{ 
    font-size: 10px;
    font-weight: 700;  
    padding: .2rem .5rem;
    border-radius: 4px;
    margin-right: .2rem;
    transition: 300ms;
}
.repo__title{
    font-size: 1.7rem;
    word-break: break-word;
}
.repo__description{
    margin: 1rem 0;
    font-size: .8rem;
    word-break: break-word;
    height: 20%;
}

.build__button{
    display: flex;
    align-items: center;
    height: 2rem;
    margin-top: 1.2rem;
    padding: .3em 1em;
    text-decoration: none;
    color: var(--Night);
    font-weight: 700;
    border-radius: 4px;
    font-size: .8rem;
    background-color: var(--Magnolia);
    transition: 300ms;
}
.build__button:hover{
    border: none;
    color: var(--Night);
    background-color: var(--Lime);
    transform: scale(1.05);
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.6);
}
.build__button img{
    width: 1rem;
    height: 1rem;
    margin: 5px 10px 5px 0;
}
.repo__github img{
    width: 1.7rem;
    margin-top: 1.2rem;
}
.repo__links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.HTML{
    color: var(--Magnolia);
    background-color: var(--HTML);
}
.CSS{
    color: var(--Magnolia);
    background-color: var(--CSS);
}
.JavaScript{
    color: rgb(46, 46, 46);
    background-color: var(--JavaScript);
}.Java{
    color: var(--Magnolia);
    background-color: var(--Java);
}.Typescript{
    color: var(--Magnolia);
    background-color: var(--Typescript);
}.React{
    color: rgb(35, 35, 45);
    background-color: var(--React);
    
}