@import url('index.css');

.repo__card{
    aspect-ratio: 3/4;
    width: 315px;
    padding: 2.2rem;
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid var(--Lime);
    background-color: var(--Night);
    transition: 300ms;
}

.repo__title{
    font-size: 1.7rem;
    word-break: break-word;
}
.repo__description{
    margin: 1rem 0;
    font-size: .8rem;
    word-break: break-word;
    height: 20%;
}

.repo__tag{
    font-size: 10px;
    font-weight: 800;  
    padding: .3rem 1rem;
    border-radius: 4px;
    margin-right: 8px;
    box-shadow: 0px 25px 30px -10px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 25px 30px -10px rgba(0, 0, 0, 0.7);
}

.repo__preview{
    display: flex;
    align-items: center;
    align-self: flex-end;
    width: fit-content;
    height: 2rem;
    margin-top: 1.2rem;
    padding: .3em 1em;
    text-decoration: none;
    color: var(--Night);
    font-weight: 700;
    border-radius: 4px;
    font-size: .8rem;
    background-color: var(--Magnolia);
    transition: 300ms;
}
.repo__preview:hover{
    border: none;;
    color: var(--Night);
    background-color: var(--Lime);
    transform: scale(1.05);
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.6);
}
.repo__preview img{
    width: 1rem;
    height: 1rem;
    margin: 5px 10px 5px 0;
}
.repo__github img{
    width: 2rem;
    margin-top: 1.2rem;
}
.repo__links{
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.HTML{
    color: var(--Night);
    background-color: var(--HTML);
}
.CSS{
    color: var(--Night);
    background-color: var(--CSS);
}
.JavaScript{
    color: var(--Night);
    background-color: var(--JavaScript);
}