@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');
@import url('navigation.css');
@import url('animations.css');
@font-face {font-family: 'Metana';  src: url(../fonts/NeueMetanaNext-SemiBold.otf);}

:root{
    --Night: #141414;
    --Night-90: #1F1F1F;
    --Night-80: #434343;
    --Night-60: #727272;
    --Night-40: #A1A1A1;
    --Night-20: #D0D0D0;
    --Magnolia: #E6E6E6;
    --Lime: #C0FF00;

    --HTML:#f06423;
    --CSS: #2364f0;
    --JavaScript: rgb(245, 220, 30);
    --TypeScript: rgb(0, 120, 200);
    --Java: rgb(235, 45, 45);
    --React:rgb(0, 215, 255);

    --darkGradient: linear-gradient(to bottom right, var(--Night), var(--Night-90));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
a{
    color: var(--Magnolia);
}

body{ 
    background:radial-gradient(circle at 0 100vh, rgba(192,255,0,.2) 0%, transparent 40%);
    background-color: var(--Night);
    font-family:'Sora', 'sans-serif';
    color: var(--Magnolia);
}
main{
    max-width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: clip;
}

#home{
    overflow: clip;
    max-width: 1200px;
    min-height: 720px;
    padding: 4rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}
.presentation{
    position: relative;
    max-width: 600px;
    margin: auto auto ;
    z-index: 99;
}
.presentation p{
    font-size: 1.15rem;
    font-weight: 400;
    width: 520px;
}
.name{
    font-size: 4rem;
    line-height: 1;
    margin: 1rem 0 0 0;
}
.title{
    font-family: 'Metana', 'Sora', sans-serif;
    color: var(--Lime);
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

#home img{
    position: absolute;
    right: -20vw;
    top: 100px;
    width: 900px; min-width: 400px;
    animation: logoRotation 60s linear infinite both;
}

.repos__container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
footer{
    width: 80%;
    margin: 2rem auto 0 auto;
    border-top: 1px solid var(--Lime);
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: .7rem;
    font-weight: 500;
    color: var(--Magnolia);
    padding: 1rem;
    
}  
#social-links{
    width:150px;
    margin: .5rem .8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img{
    align-items: baseline;
    width: 1.5em;
    margin: auto;
}


@media screen and (max-width: 600px) {
    body{ 
        background:radial-gradient(circle at 0 960px, rgba(192,255,0,.2) 0%, transparent 100vw);
        background-color: var(--Night);
    }
    .presentation{
        width: 80vw;
        margin: auto;
        z-index: 99;
    }
    .presentation p{
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
    }
    .name{
        font-size: 2.5rem;
        line-height: 1;
        margin: .7rem 0 0 0;
    }
    .title{
        font-size: 1.25rem;
        margin: .5rem 0 .7rem 0;
    }
    
    #home img{
        position: fixed;
        right: -75%;
        top: 100px;
        width: 900px; min-width: 400px;
        animation: logoRotation 60s linear infinite both;
        opacity: 0.2;
        z-index: -1;
    }
  }