@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');
@import url('navigation.css');
@import url('animations.css');
@font-face {font-family: 'Metana';  src: url(../assets/fonts/NeueMetanaNext-SemiBold.otf);}

:root{
    --Night: #141414;
    --Night-90: #1F1F1F;
    --Night-80: #434343;
    --Night-60: #727272;
    --Night-40: #A1A1A1;
    --Night-20: #D0D0D0;
    --Magnolia: #E6E6E6;
    --Lime: #C0FF00;
    --HTML:#f06423;
    --CSS: #2364f0;
    --JavaScript: rgb(245, 220, 30);
    --TypeScript: rgb(0, 120, 200);
    --Java: rgb(235, 45, 45);
    --React:rgb(0, 215, 255);
    --darkGradient: linear-gradient(to bottom right, var(--Night), var(--Night-90));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--Magnolia);
}
html{
    scroll-behavior: smooth;
}

body{ 
    font-family:'Sora', 'sans-serif';
    color: var(--Magnolia);
    width: 100%;
    background:radial-gradient(circle at 0 900px, rgba(192,255,0,.2) 0%, transparent 40%);
    background-color: var(--Night);
}
header{
    max-width: 80%;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
main{
    overflow-x: clip;
}
#home{
    height: 90vh;
    width: 80%;
    margin: auto; 
    display: flex;
    align-items: center;
}
.presentation{
    margin-left: 5%;
    height: 100%;
    width: 100%;
}
.name{
    font-size: 4rem;
    line-height: 110%;
}
.title{
    font-family: 'Metana', 'Sora', sans-serif;
    color: var(--Lime);
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.home__bg{
    z-index: -1;
    transform: translateX(45%);
}
.logo__bg{
    height: 85vh;
    transform-origin: center;
    animation: homeLogo 60s linear infinite both;
}
.repos__container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
footer{
    width: 80%;
    margin: 2rem auto 0 auto;
    border-top: 1px solid var(--Lime);
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: .7rem;
    font-weight: 500;
    color: var(--Magnolia);
    padding: 1rem;
    
}  
#social-links{
    width:150px;
    margin: .5rem .8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img{
    align-items: baseline;
    width: 1.5em;
    margin: auto;
}


@media screen and (max-width: 700px) {

    #home{
        height: 90vh;
        width: 80%;
        margin: auto; 
        display: block;
    }
    .presentation{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }
    .presentation__container{
        height: 70vh;
        text-align: center;
    }
    .presentation p{
        width: 100%;
    }
    .name{
        font-size: 3rem;
        line-height: 110%;
    }
    .title{
        font-family: 'Metana', 'Sora', sans-serif;
        color: var(--Lime);
        font-size: 1.3rem;
        margin-bottom: 8px;
    }
    .home__bg{
        transform:
            translateY(-80%);
        opacity: .2;
        z-index: -1;
    }
    
}